*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
body
{
    position: relative;
    width: 100%;
    height: 100%;
	background: #4D6773;
	overflow-x: hidden;
}
#hijo
{
    top: 0;
    left: 0;
    position: fixed;
    overflow: visible;
    display: inline;
    width: 100%;
    text-align: center;
    transition: all .2s ease-in-out;
}
table
{
	border-collapse: collapse;
    margin: 0 auto;
}
label{
	color: #79A2B5;
	font-size: 15px;
	margin: 15px;
}
.selecciona{
	color:#fff;
	padding: 15px;
	margin-bottom: 30px;
	margin-top: -5px;
}
.nuevo{
	background: #4D6773;
	height: 800px;
}
.combo{
	background: #fff;
    border: solid #54707D;
    color: #54707D;
	padding: 10px;
	font-size: 12px;
	display: block;
	margin: 15px auto;
	width: 50%;
}
.opcion{
	background: #fff;
	padding: 5px;
}
.boton
{
	background: #54707D;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	border: none;
	margin: 15px;
	margin-top: 25px;
}
.float-buttons
{
    bottom: 0;
    right: 0;
    position: fixed;
}


.button
{
	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 50px;
	border-radius: 50%;
	color: white;
	transition: 0.5s all;
    display: block;
	opacity: 0.3;
	cursor: pointer;
    margin: 10px;
}
.button:hover
{
	opacity: 1;
}
.button.random
{
	background: cyan;
}
.button.add
{
	background: orange;
}
.button.download
{
	background: firebrick;
}
.dialog-background
{
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	overflow-y: auto;
	align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
	text-align: center;
}
.dialog-card
{
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 500px;
	background: #fff;
	border-radius: 5px;
	top: 50%;
	transform: translate(0,-50%);
}
.dialog-title
{
	font-size: 1.5em;
	color: #424242;
	padding: 30px;
}

.buttons-container
{
	padding: 30px;
}
.mybuttons
{
	padding: 20px;
	font-size: 20px;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
    transition: 0.5s all;
}
.add-subject
{
	background: #77fff7;
}
.add-subject:hover
{
    background: #1aceff;
}
.close-card
{
	background: #cd565c;
}
.close-card:hover
{
	background: #cd3338;
}
